{{ define "github-short.tmpl" }}

    {{template "header" .}}

    {{template "navbar" .}}

    <div class="mt-2 text-center">
        <h2>GitHub Short Statistics</h2>
        <div><a href="/github" class="link-info">Show full statistics</a></div>
        <div class="mt-2">Request limit: <b>{{ .respLimit}}</b> | Requests left: <b>{{ .respCount}}</b></div>
        <div class="mt-1">Total repositories: <b>{{ .totalRepos}}</b></div>
    </div>
    <form method="post" action="/github-short">
        <div class="text-center mt-1">
            <input type="hidden" name="typeOfPage" value="000">
            <button type="submit" class="btn btn-success">Get stats from GitHub</button>
        </div>
    </form>

    <div class="container mt-2 mb-2">
        <div class="row g-2">
            {{ range .data}}
                <div class="col-6">
                    <div class="p-3 border_style bg-light">
                        <b>Name</b>: <a href="{{ .GitHubURL}}">{{ .Name}}</a> <br>
                        <ul>
                            <li><b>Stars</b>: {{ .Stars}}</li>
                            <li><b>Watchers</b>: {{ .Watchers}}</li>
                            <li><b>Opened Issues</b>: {{ .OpenIssues}}</li>
                        </ul>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
    {{template "footer" .}}

{{ end }}