{{ define "github.tmpl" }}

    {{template "header" .}}

    {{template "navbar" .}}
    <div class="mt-2 text-center">
        <h2>GitHub Statistics</h2>
    </div>
    {{template "footer" .}}

{{ end }}