{{ define "github.tmpl" }}

    {{template "header" .}}

    {{template "navbar" .}}

    <div class="mt-2 text-center">
        <h2>GitHub Statistics</h2>
        <div class="mt-2">Request limit: <b>{{ .respLimit}}</b> | Requests left: <b>{{ .respCount}}</b></div>
        <div class="mt-1">Total repositories: <b>{{ .totalRepos}}</b></div>
    </div>
    <form method="post" action="/github">
        <div class="text-center mt-1">
            <input type="hidden" name="typeOfPage" value="000">
            <button type="submit" class="btn btn-success">Get stats from GitHub</button>
        </div>
    </form>

    <div class="container mt-2 mb-2">
        <div class="row g-2">
            {{ range .data}}
                <div class="col-6">
                    <div class="p-3 border_style bg-light">
                        <div class="text-center"><b>About</b></div>
                        <b>Name</b>: <a href="{{ .GitHubURL}}">{{ .Name}}</a> <br>
                        <b>Full name</b>: {{ .FullName}} <br>
                        <b>License</b>: {{ .License}} <br>
                        <b>Private</b>: {{ .Private}} <br>
                        <b>Description</b>: {{ .Description}} <br>
                        <b>Home Page</b>: <a href="{{ .HomePage}}">{{ .HomePage}}</a> <br>
                        <hr>
                        <div class="text-center"><b>Stats</b><br></div>
                        <ul>
                            <li><b>Stars</b>: {{ .Stars}}</li>
                            <li><b>Watchers</b>: {{ .Watchers}}</li>
                            <li><b>Opened Issues</b>: {{ .OpenIssues}}</li>
                            <li><b>Forks</b>: {{ .Forks}}</li>
                        </ul>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
    {{template "footer" .}}

{{ end }}