{{template "index" .}}

    {{ define "content"}}
        <h1 class="visually-hidden">Heroes examples</h1>

        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold">Welcome to Stats Informer</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Here you can track changes in the number of stars in the GitHub repositories that
                    you have subscribed to in the service</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/github" class="btn btn-outline-secondary btn-lg px-4">Start Tracking</a>
                </div>
            </div>
        </div>
    {{ end }}
