{{ define "github_title" }}
    <div class="mt-2 text-center">
        <h2>GitHub Statistics</h2>
        <div class="mt-2">Request limit: <b>{{ .respLimit}}</b> | Requests left: <b>{{ .respCount}}</b></div>
        <div class="mt-1">Total repositories: <b>{{ .totalRepos}}</b></div>
    </div>
    <form method="post" action="/github">
        <div class="text-center mt-1">
            <input type="hidden" name="postData" value="000">
            <button type="submit" class="btn btn-success">Get stats from GitHub</button>
        </div>
    </form>
{{ end }}